body {
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    font-size:1.2em;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-style: normal;
    font-variant: normal;
}

.page-body{
    margin-left: 1em;
    margin-right: 1em;
}

.specialDiv{
    margin-left: 1em;
    margin-right: 1em;
}

.styled-click-button {
    padding: 0.5em 1em;
    font-size: 1.4em;
    text-align: center;
    cursor: pointer;
    color: #ffffff;
    outline: none;
    background-color: green;
    border-radius: 0.5em;
    box-shadow: 0 0.3em #999999;
}

.styled-click-button:hover {background-color: darkgreen}

.styled-click-button:active {
    background-color: darkgreen;
    box-shadow: 0 0.2em #666666;
    transform: translateY(0.1em);
}

h1{
    text-align: center;
}

input, p{
    font-size: 1.2em;
}

div.centered{
    text-align: center;
}

.form-label{
    padding-top: 1em;
    padding-bottom: 1em;
}

div.page-footer:before{
    padding-top: 10em;
    margin-top: 10em;
}

div.page-footer{
    text-align: center;
    margin: 10em;
}

div.page-footer p{
    padding-top: 1em;
    border-top: 1px solid black;
    font-size: 0.6em;
    width: 50%;
    margin: 0 auto;
}

div.explanation{
    margin: 10px;
    background-color: aliceblue;
    padding: 20px;
    font-style: italic;
}

.inline-explanation{
    font-style: italic;
}

.centered table{
    margin:auto;
}

.drags{
    width:300px;
    height:150px;
    margin:auto;
    overflow:hidden;
}

.drag{
    width: 150px;
    display: inline;
    min-width: 150px;
}

.drops{
    width:400px;
    height:150px;
    margin:auto;
    overflow:hidden;
}

.left{
    float:left;
}
.right{
    float:right;
}

.draggable { width: 100px; height: 100px; padding: 0.5em; float: left; margin: 10px 10px 10px 0; background-color:yellow;}
.droppable { width: 150px; height: 150px; padding: 0.5em; float: left; margin: 10px; background-color:red;}


#javascript_countdown_time{
    font-family: Courier New;
    font-size:3em;
    text-align:center;
}

.timer-reset{
    border-top: black;
    border-top-style: solid;
    margin-top: 1em;
    height: 4em;
    padding-top: 1em;
}
.timer-reset button{
    display: block;
    margin: auto;
    margin-top: 1em;
}

.smaller-text{
    font-size: 0.7em;
}

.form-results li{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.form-results p{
    background-color: #d9f4fa;
}