/* https://codepen.io/philhoyt/pen/ujHzd */
#primary_nav_wrap
{
    margin-top:15px
}

#primary_nav_wrap ul
{
    list-style:none;
    position:relative;
    float:left;
    margin:0;
    padding:0
}

#primary_nav_wrap ul a
{
    display:block;
    color:#333;
    text-decoration:none;
    font-weight:700;
    font-size:12px;
    line-height:32px;
    padding:0 15px;
    font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
}

#primary_nav_wrap ul li
{
    position:relative;
    float:left;
    margin:0;
    padding:0
}

#primary_nav_wrap ul li.current-menu-item
{
    background:#ddd
}

#primary_nav_wrap ul li:hover
{
    background:#f6f6f6
}

#primary_nav_wrap ul ul
{
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background:#fff;
    padding:0
}

#primary_nav_wrap ul ul li
{
    float:none;
    width:200px
}

#primary_nav_wrap ul ul a
{
    line-height:120%;
    padding:10px 15px
}

#primary_nav_wrap ul ul ul
{
    top:0;
    left:100%
}

#primary_nav_wrap ul li:hover > ul
{
    display:block;
    z-index:100;
}

/* https://css-tricks.com/three-line-menu-navicon/ */
/* hamburger menu */
@media only screen and ( max-width:1024px) {

    #primary_nav_wrap
    {
        position: relative;
        width: 1em;
        height: 1em;
        padding-left: 1.25em;
        z-index:100;
    }
    #primary_nav_wrap:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0.25em;
        width: 1em;
        height: 0.15em;
        background: black;
        box-shadow:
                0 0.25em 0 0 black,
                0 0.5em 0 0 black;
    }
    #primary_nav_wrap:hover ul{
        display:block;
    }
    #primary_nav_wrap:hover ul ul{
        display:none;
    }

    #primary_nav_wrap:hover ul li:hover > ul{
        display:none;
    }

    #primary_nav_wrap ul{
        display:none;
    }
}