<div class="sponsor">
<a href="https://www.patreon.com/c/eviltester" class="nounderline" target="_blank" rel="noopener noreferrer">
    <div class="current-sponsor">
        <div class="sponsor-message">
            <p class="current-sponsor">

                <span>Find this site useful? Check out our Patreon site for ad-free tutorial videos, posts, e-books, and training courses. Subscribe for as little as $1 a month. Click to learn more.</span>
                &#x1F517;
            </p>
        </div>
    </div>
</a>
</div>