p.current-sponsor{
    font-size: 1.2rem !important;
    text-align: center;
    margin:0px;
}
p.current-sponsor > img{
    height: 1.1rem;
}
div.current-sponsor{
    margin-top: 1rem;
    color: #000000;
    background-color: #dcdcff;
    border-color: #1c00ff;
    border-style: solid;
}
div.sponsor-message{
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
div.sponsor-prompt{
    text-align: right;
    font-size: 0.7em;
}
div.sponsor{
    padding-bottom: 1em;
}
div.sponsor a{
    text-decoration: none;
}