.footer{
    font-size: 0.8em;
    text-align: center;
}

body {
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    font-size:1.2em;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-style: normal;
    font-variant: normal;
}

ul.menu { display:table; margin:0 auto; min-width: 30%}

ul.centered{ display:table; margin:0 auto; min-width: 40%}

form{
    /* text-align: center; */
    line-height: 3em;
    margin:auto;
    display: table;
}

label{
    margin-left: 0.5em;
    margin-right: 0.5em;
}

input[type=submit]{
    margin: 0 auto;
    display: block;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
    background: #e2e2e2;
}